.footer {

    padding: 20px;
    background-color: var(--colorChocolate) ;
    height:85%;
    --tipografiaGeneral: 'Roboto';}


/* p {
    color:  #f5efea ;
} */

h2 {

    color: #c29d87 ;
    margin-top: 40px;
    
}

.logo {

    width: 85%;
    height: 85%;
    margin: auto;


    
}

.redes-sociales {
    list-style-type: none;
     color:  var(--colorTiza) ;


}
.color-icon{
    color: var(--colorTiza);
}

.derechos-reservados {
    color: #f5efea;
    text-align: center;

}

.direccion {
    font-size: small;
    text-align: right;
    margin-bottom: 50px;

    
}

/* .fa-facebook {

    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
    
} */

.fa-instagram {
    font-size: 24px;
    margin-bottom: 25px;

}

.fa-twitter{
    font-size: 24px;
    margin-bottom: 25px;
}

.fa-whatsapp {
    font-size: 24px;
    margin-bottom: 25 px;
}