
/* tamaño  del carousel */

.carrusel-item img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: 0;
    position: relative;
    display: block;
    
    }
/* -------- */


    

    .galeria{
        margin: 0 !important;
        padding: 25px;
        
        
    }
    .titular{
        color: var(--colorChocolate);
    }
    .subtitular{
        color: var(--colorChocolate);
    }
    .img-conten img{
        width: 100%;
        height: 100%;
        gap: 100px;
        padding-top: 20px;
    }
    .img-conten img:hover{
    border: 5px solid  --colorTiza;
    transition: all 400ms ease;
    transform: translateY(-3%);
    }
/* animaciones de section */
    @media (max-width: 768px){
        .ad-section{
            display: none;
        }
    }
    
    .container{
        margin-top: 8%;
    }
    .img-card{
        overflow: hidden;
    }
    .img-card img{
        transition: all 1.5s ease;
    }
    .img-card:hover img{
        transform: scale(1.5);
    }
    .card-s{
        transition: all 400ms ease;
    }
    
    .card-s:hover{
        /* box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4); */
        transform: translateY(-3%);
    }

    @media (max-width: 768px){
        .carrusel-item img{ 
            max-height: 300px;
        }

    }