@media (max-width: 768px){
    .ad-section{
        display: none;
    }
}

.container{
    margin-top: 8%;
}
.img-card{
    overflow: hidden;
}
.img-card img{
    transition: all 1.5s ease;
}
.img-card:hover img{
    transform: scale(1.5);
}
.card-s{
    transition: all 400ms ease;
}

.card-s:hover{
    /* box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4); */
    transform: translateY(-3%);
}