nav{
    background-color: var(--colorMarroc);
    height: 10vh;
    z-index: 99;
    font-family: var(--tipografiaGeneral);
    font-size: 1.1rem;
    font-weight: bolder;
}

nav li a{
    &:hover{
        background-color: var(--colorMarrocClaro);
        border-radius: 8%;
    }
}

nav ul :nth-child(4){
    background-color: var(--colorDulcedeLeche);
    border-radius: 8%;

}